<?xml version="1.0"?>
<cacheConfiguration>
  <types>
    <!-- sample -->
    <!--<add type="[Fully qualified name of class]">
      <methods>
        <add 
          name="[method name; cannot be private]" 
          expirationType="[Absolute|Sliding:http://msdn.microsoft.com/en-us/library/4y13wyk9.aspx]"
          expirationInMinutes="[number of minutes to expire in from now (Absolute) or after idle time (Sliding)]" />
      </methods>
    </add>-->
    <add type="BusinessService.CustomerService">
      <methods>
        <add name="GetCustomers" expirationType="Sliding" expirationInMinutes="30" />
              </methods>
    </add>
      </types>
</cacheConfiguration>
